<p>There's <%= pluralize(@person_count_a, 'person') %>.</p>
<p>There are <%= pluralize(@person_count_b, 'people') %>.</p>

<p><%= pluralize(0, 'error') %> prevented this page from working.</p>
<p><%= pluralize(1, 'error') %> prevented this page from working.</p>
<p><%= pluralize(1001, 'sheep') %> prevented this page from working.</p>
<p><%= pluralize(5, 'octopus') %> prevented this page from working.</p>
<p><%= pluralize(5, 'Clint Eastwood') %> prevented this page from working.</p>

<p><%= truncate(@story, :length => 10) %></p>

<ul>
  <% @numbers.each do |num| %>
  <li style="background-color: <%= cycle('red', 'green', 'yellow', 'purple') %>">number <%= num %></li>
  <% end %>
</ul>